body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("image.jpg");
  background-size: cover;


}

.main {
  display: flex;
  align-items: center;
  gap: 60px;

}

.btn {
  background: rgba(255, 255, 255, 0.128);
  backdrop-filter: blur(15px);
  border: none;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  color: #1976d2;
  cursor: pointer;

}

.btn:hover:not(:disabled) {
  background: #1976d2;
  color: white;

}

.btn:disabled {
  color: #aaa;
  cursor: not-allowed;
}

.card {
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.034);
  backdrop-filter: blur(15px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #1976d2;
  border-top: 2px solid #1976d2;

}



h2 {
  font-size: 26px;
  color: #1976d2;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 2px solid #1976d2;
}

p {
  margin: 12px 0;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.242);
  color: #333;

}

span {
  color: #0d47a1;
  font-size: 18px;

}